*{
    font-family: 'Chakra Petch', sans-serif;;
}

h1{
    margin: 50px 0px;
}

div{
    text-align: center;
    margin: 0px 180px;
    padding: 30px 0px;
}

input{
    text-align: center;
    margin: 30px 0px;
}

button{
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
    background-color: #4b0082;
    color: white;
}

.btn-sec{
    padding: 3px 30px;
    border-radius: 5px;
    border: none;
    background-color: #d64161;
    color: white;
    margin-bottom: 30px;
    margin-right: 10px;
}

#random{
    margin: auto;
    padding: 4px 20px;
    border: 1px solid orange;
    border-radius: 4px;
    font-size: 15px;
    vertical-align:middle;

}

#player{
        padding: 4px 20px;
        border: 1px solid blue ;
        border-radius: 4px;
        font-size: 15px;
        vertical-align:middle;
        margin-left: 15px;
}